/* joingame.css */


#joinGameContainer{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 50vw;
	height: 50vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	background-color: rgba(15,15,32,.7);
	color: #fff;
	padding: 1em;
}
#legal{
	font-size: .8em;
	padding-left: 4em;
	padding-right: 4em;
	padding-top: 1em;
	padding-bottom: 1em;
}
#joinError{
	color: #a10000;
	font-size: 1.2em;
	font-weight: bold;
	visibility:hidden;
}