/* joingame.css */


#joinGameContainer{
	display:none;
	width: 50vw;
	height: 50vh;
	padding: 1em;
}
#legal{
	font-size: .8em;
	padding-left: 4em;
	padding-right: 4em;
	padding-top: 1em;
	padding-bottom: 1em;
}
#joinError{
	color: #a10000;
	font-size: 1.2em;
	font-weight: bold;
	visibility:hidden;
}
#startGameContainer{
	/* display:none; */
	width: 20vw;
	height: 30vh;
	padding: 1em;
}